
header{
    background-color: darkred;
}


.Sombra {
    box-shadow: 0 5px 5px black;
}
.banner{
width: 60%;
    display:block;
  margin: auto auto 3em;
  padding: 0 0 3em;

}
.principal{
    width: 70%;
    padding: 0 0 3em;
    margin: 0 auto; 
    border: 3px solid #000000;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
    background-color: #cee1d8;
    font-style: italic;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}
.principal p{
    margin: 0 0 .5em;
    text-align: center;
}

.titulo-contacto{
    font-size: large;
}
.Contacto{
    font-size: small;
    color: #7a1b0c;
    
}
.contacto-izquierda
{
    text-align:right;
}
.proyectos{
    width: 80%;
    border: 3px solid #000000;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
    transform: translate(15%, 0);
    display: block;
}
.proyectos p{
    font-size: large;
}
.carousel-item{
    width: 300;
    height: 500;
}
.vertical {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
  }


