
.banner{
width: 60%;
    display:block;
  margin: auto auto 3em;
  padding: 0 0 3em;

}
.principal{
    width: 70%;
    padding: 0 0 3em;
    margin: 0 auto; 
    border: 3px solid #000000;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
    background-color: #cee1d8;
    font-style: italic;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}
.principal p{
    margin: 0 0 .5em;
    text-align: center;
}

footer{
    text-align:right;
}
.titulo-contacto{
    font-size: large;
}
.Contacto{
    font-size: small;
    color: #7a1b0c;
}
.my-carousel{
    width: 300px;
    display: block;
}

